<section data-ng-controller="EntriesController" data-ng-init="find()" class="md-padding" ng-cloak>

<md-button class="md-fab md-primary md-fab-bottom-right" aria-label="Add New" ng-click="showNewEntryDialog($event)">
  <md-icon>add</md-icon>
</md-button>

<md-toolbar class = "md-table-toolbar md-info">
  <div class = "md-toolbar-tools">
    <span>Entries</span>
    <div flex></div>
    <md-button class = "md-icon-button" ng-click="find()">
      <md-icon>refresh</md-icon>
    </md-button>
  </div>
</md-toolbar>
<md-table-container>
  <table md-table md-progress = "promise">
    <thead md-head>
      <tr>
        <th md-column><span>Source</span></th>
        <th md-column md-numeric><span>Amount</span></th>
        <th md-column md-numeric><span>Balance</span></th>
        <th md-column><span>Date</span></th>
        <th md-column><span>Est</span></th>
        <th md-column><span>Plan</span></th>
        <th md-column><span>Notes</span></th>
        <th></th>
      </tr>
    </thead>
    <tbody md-body>
      <tr  md-row ng-repeat = "entry in entries">
        <td md-cell>{{ entry.source }}</td>
        <td md-cell>{{ entry.amount | number : 2 }}</td>
        <td md-cell>{{ entry.balance | number : 2 }}</td>
        <td md-cell>{{ entry.date | formatDate }}</td>
        <td md-cell><div ng-if = "entry.estimate"><md-icon>check_circle</md-icon></div></td>
        <td md-cell><div ng-if = "entry.planned"><md-icon>check_circle</md-icon></div></td>
        <td md-cell>{{ entry.notes }}</td>
        <td md-cell>
          <md-button aria-label="Delete" ng-click="deleteElement( entry )">
            <md-icon>delete</md-icon>
          </md-button>
        </td>
      </tr>
    </tbody>
  </table>
</md-table-container>
</section>
