<section data-ng-controller="EntriesController" data-ng-init="find()" class="md-padding" ng-cloak>

<md-button class="md-fab md-primary md-fab-bottom-right" aria-label="Add New" ng-click="showNewEntryDialog($event)">
  <md-icon>add</md-icon>
</md-button>

<md-toolbar class = "md-table-toolbar md-info">
  <div class = "md-toolbar-tools">
    <span>Entries</span>
    <div flex></div>
    <md-button class = "md-icon-button" ng-click="find()">
      <md-icon>refresh</md-icon>
    </md-button>
  </div>
</md-toolbar>
<md-table-container>
  <table md-table md-progress = "promise">
    <thead md-head>
      <tr>
        <th md-column><span>Source</span></th>
        <th md-column md-numeric><span>Amount</span></th>
        <th md-column md-numeric><span>Balance</span></th>
        <th md-column><span>Date</span></th>
        <th md-column><span>Est</span></th>
        <th md-column><span>Plan</span></th>
        <th md-column><span>Notes</span></th>
      </tr>
    </thead>
    <tbody md-body id = "entryTableBody">
      <tr md-row ng-repeat = "entry in entries">
            <!-- I'd really like to find a better way to do this, but apparently I'm an idiot -->

            <!-- Source -->
            <td md-cell ng-if = "entry.editable">
              <md-input-container class="md-block">
                <input type="text" ng-model = "entry.source" aria-label="Source"/>
              </md-input-container>
            </td>
            <td md-cell ng-if = "!entry.editable" ng-class="{ completedRowCell: entry.past }">{{ entry.source }}</td>

            <!-- Amount -->
            <td md-cell ng-if = "entry.editable">
              <md-input-container class="md-block">
                <input type="number" ng-model="entry.amount" aria-label="Amount"/>
              </md-input-container class="md-block">
            </td>
            <td md-cell ng-if = "!entry.editable" ng-class="{ completedRowCell: entry.past }">{{ entry.amount | number : 2 }}</td>

            <!-- balance should not be editable -->
            <td md-cell ng-class="{ completedRowCell: (entry.past && !entry.editable)}">{{ entry.balance | number : 2 }}</td>

            <!-- Date -->
            <td md-cell ng-if = "entry.editable">
              <md-datepicker type="date" ng-model="entry.date" required aria-label="Date"></md-datepicker>
            </td>
            <td md-cell ng-if = "!entry.editable" ng-class="{ completedRowCell: entry.past }">{{ entry.date | formatDate }}</td>

            <!-- Estimate -->
            <td md-cell ng-if = "entry.editable"><md-checkbox ng-model="entry.estimate" aria-label="Estimate"/></td>
            <td md-cell ng-if = "!entry.editable" ng-class="{ completedRowCell: entry.past }"><div ng-if = "entry.estimate"><md-icon>check_circle</md-icon></div></td>

            <!-- Planned -->
            <td md-cell ng-if = "entry.editable"><md-checkbox ng-model="entry.planned" aria-label="Planned"/></td>
            <td md-cell ng-if = "!entry.editable" ng-class="{ completedRowCell: entry.past }"><div ng-if = "entry.planned"><md-icon>check_circle</md-icon></div></td>

            <!-- Notes -->
            <td md-cell ng-if = "entry.editable">
              <md-input-container class="md-block">
                <input type="text" ng-model = "entry.notes" aria-label="Notes"/>
              </md-input-container class="md-block">
            </td>
            <td md-cell ng-if = "!entry.editable" ng-class="{ completedRowCell: entry.past }">{{ entry.notes }}</td>

            <!-- Edit Button -->
            <td md-cell ng-if = "!entry.editable" class = "entryTableButton" ng-class="{ completedRowCell: entry.past }">
              <md-button aria-label="Edit" ng-click="editElement( entry )">
                <md-icon>create</md-icon>
              </md-button>
            </td>

            <!-- Save Button -->
            <td md-cell ng-if = "entry.editable" class = "entryTableButton">
              <md-button aria-label="Save" ng-click="editElement( entry )">
                <md-icon>save</md-icon>
              </md-button>
            </td>

            <!-- Delete Button -->
            <td md-cell ng-if = "!entry.editable" class = "entryTableButton" ng-class="{ completedRowCell: entry.past }">
              <md-button aria-label="Delete" ng-click="deleteElement( entry )">
                <md-icon>delete</md-icon>
              </md-button>
            </td>

            <!-- Revert Button -->
            <td md-cell ng-if = "entry.editable" class = "entryTableButton">
              <md-button aria-label="undo" ng-click="revertChange( entry )">
                <md-icon>undo</md-icon>
              </md-button>
            </td>

      </tr>
    </tbody>
  </table>
</md-table-container>
</section>
