.md-fab.md-primary.md-fab-bottom-right {
  position : fixed;
}

/**
 * Slightly off balanced style helps to make it display better and fit in the browser popup
 */

.pws_popup {
  padding-left : 1em;
  padding-right : 2em;
}

/**
* Format the entry table
*/
#entryTableBody input[type="text"] {
  width: 100px;
}

#entryTableBody input[type="number"] {
  width: 50px;
}


/**
* Override some of the default styles on the md-table buttons
* Otherwise they were taking up too much space and looked awful
*/
#entryTableBody button {
  min-width : 0px;
}

#entryTableBody .entryTableButton {
  padding-right : 0px;
}

/**
* Fill completed cells green
*/
#entryTableBody .completedRowCell {
  background-color : green;
}
