<section ng-controller="AccountsController as ac" ng-init="find()" class="md-padding" ng-cloak>
    <md-button class="md-fab md-primary md-fab-bottom-right" aria-label="Add New">
        <!-- TODO: Need to update to add an action when the user clicks -->
        <md-ion>add</md-ion>
    </md-button>

    <md-toolbar class = "md-table-toolbar md-info" id = "headerToolbar">
        <div class = "md-toolbar-tools">
            <div id = "accountsTitleDiv">Accounts</div>
            <div flex></div>
            <div ng-if="filterDate.startTime || filterDate.endTime">
                ( {{ filterDate.startTime }} - {{ filterDate.endTime }} )
            </div>
            <div flex></div>

            <md-button class = "md-icon-button" ng-if = " filterDate.startTime || filterDate.endTime" ng-click="removeFilter($event)">
            <md-icon class = "headerButton">event_busy</md-icon>
            </md-button>
            <md-button class = "md-icon-button" ng-click="showDateDialog($event)">
            <md-icon class = "headerButton">event</md-icon>
            </md-button>
            <md-button class = "md-icon-button" ng-click="find()">
            <md-icon class = "headerButton">refresh</md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-table-container>
        <table md-table md-progress = "promise">
            <thead md-head id = "accountTableHead">
                <tr>
                    <th md-column><span>Name</span></th>
                    <th md-column><span>Date Created</span></th>
                    <th md-column><span>Notes</span></th>
                    <th md-column md-numeric><span>Balance</span></th>
                </tr>
            </thead>
            <tbody md-body id = "accountTableBody">
                <tr md-row ng-repeat="account in accounts track by $index">
                    <!-- Name -->
                    <td md-cell ng-if = "account.editable">
                        <md-input-container class="md-block">
                            <input type = "text" ng-model="account.source" aria-label="Name"/>
                        </md-input-container>
                    </td>
                    <td md-cell ng-if="!account.editable"> {{ account.name }}</td>

                    <!-- Date Created (should not be editable) -->
                    <td md-cell> {{ account.dateCreate}}</td>

                    <!-- Notes -->
                    <td md-cell ng-if = "account.editable">
                        <md-input-container class="md-block">
                            <input type = "text" ng-model="account.notes" aria-label="Notes"/>
                        </md-input-container>
                    </td>
                    <td md-cell ng-if="!account.editable"> {{ account.notes }}</td>

                    <!--Balance Should Not Be Editable -->
                    <td md-cell> {{ account.balance}}</td>
                </tr>
            </tbody>
        </table>
    </md-table-container>
</section>