<!DOCTYPE html>
<html xmlns:ng = "http://angularjs.org">
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <section ng-view></section>
    <!-- Add in the dependencies -->
    <script type = "text/javascript"
      src = "lib/angular/angular.js"></script>

    <script type = "text/javascript"
      src = "lib/angular-route/angular-route.js"></script>

    <script type = "text/javascript"
      src = "lib/angular-resource/angular-resource.js"></script>

      <!-- stuff for material -->
    <script src="lib/angular-animate/angular-animate.min.js"></script>

    <script src="lib/angular-aria/angular-aria.min.js"></script>

    <script src="lib/angular-messages/angular-messages.min.js"></script>

    <script src="lib/angular-material/angular-material.min.js"></script>

    <link rel="stylesheet" href="lib/angular-material/angular-material.min.css">

    <!-- material icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- stuff for the material table -->
    <link href="lib/angular-material-data-table/dist/md-data-table.min.css" rel="stylesheet" type="text/css"/>

    <script type="text/javascript" src="lib/angular-material-data-table/dist/md-data-table.min.js"></script>

    <!-- Add in the resources for entries -->
    <script type = "text/javascript"
      src = "/entries/entries.client.module.js"></script>

    <script type = "text/javascript"
      src = "/entries/config/entries.client.routes.js"></script>

    <script type = "text/javascript"
      src = "/entries/controllers/entries.client.controller.js"></script>

    <script type = "text/javascript"
      src = "/entries/factories/entries.client.factory.js"></script>

    <script type = "text/javascript"
      src = "/entries/services/entries.client.service.js"></script>

    <script type = "text/javascript"
      src = "/entries/filters/entries.client.filter.js"></script>
    <!-- add in the Application.js -->
    <script type = "text/javascript"
      src = "application.js"></script>


    <!-- add in my styles last (since they contain overrides -->
    <link href="entries/style/view-entries.css" rel="stylesheet" type="text/css"/>


  </body>
</html>
