<!DOCTYPE html>
<html xmlns:ng = "http://angularjs.org">
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <!-- Add in the dependencies -->
    <script type = "text/javascript"
      src = "lib/angular/angular.js"></script>

    <script type = "text/javascript"
      src = "lib/angular-route/angular-route.js"></script>

    <script type = "text/javascript"
      src = "lib/angular-resource/angular-resource.js"></script>

      <!-- stuff for material -->
    <script src="lib/angular-animate/angular-animate.min.js"></script>

    <script src="lib/angular-aria/angular-aria.min.js"></script>

    <script src="lib/angular-messages/angular-messages.min.js"></script>

    <script src="lib/angular-material/angular-material.min.js"></script>

    <link rel="stylesheet" href="lib/angular-material/angular-material.min.css">

    <!-- material icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- stuff for the material table -->
    <link href="lib/angular-material-data-table/dist/md-data-table.min.css" rel="stylesheet" type="text/css"/>

    <script type="text/javascript" src="lib/angular-material-data-table/dist/md-data-table.min.js"></script>

    <!-- Add in the gereral resources -->
    <script type = "text/javascript"
      src = "/common/general.client.module.js"></script>

    <script type = "text/javascript" src = "/common/controllers/navigation.client.controller.js"></script>
    <!-- Add in the resources for entries -->
    <script type = "text/javascript"
      src = "/entries/entries.client.module.js"></script>

    <script type = "text/javascript"
      src = "/entries/config/entries.client.routes.js"></script>

    <script type = "text/javascript"
      src = "/entries/controllers/entries.client.controller.js"></script>

    <script type = "text/javascript"
      src = "/entries/services/entries.client.service.js"></script>


    <script type = "text/javascript"
      src = "/entries/services/entries.massage.client.service.js"></script>

    <script type = "text/javascript"
      src = "/entries/filters/entries.client.filter.js"></script>
    <!-- add in the Application.js -->
    <script type = "text/javascript"
      src = "application.js"></script>


    <!-- add in my styles last (since they contain overrides -->
    <link href="common/style/general.css" rel="stylesheet" type="text/css"/>
    <link href="entries/style/view-entries.css" rel="stylesheet" type="text/css"/>

    <!-- create a side nav -->
    <md-sidenav
        class="md-sidenav-left"
        md-component-id="left"
        md-whiteframe="4">

      <md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">Sidenav Left</h1>
      </md-toolbar>
      <md-content layout-padding ng-controller="LeftCtrl">
      <md-content layout-padding>
        <md-button ng-click="close()" class="md-primary">
          Close Sidenav Left
        </md-button>
      </md-content>
    </md-sidenav>

    <!-- Create the general Content Area That Will Be Displayed On All Pages -->
    <!--div ng-controller="NavController">
      <md-content flex layout-padding-->
        <div class = "md-toolbar-tools" id = "toggleNavViewButtonDiv" ng-controller="NavController">
          <md-button class = "md-icon-button" ng-click="toggleLeft()" id="toggleNavViewButton">
            <md-icon class = "headerButton">menu</md-icon>
          </md-button>
        </div>
      <!--/md-content>
    </div-->

    <!-- ng-view for the rest of the content --->
    <section ng-view></section>


  </body>
</html>
